env/

# Output-Ordner, die nicht relevant für Endergebnis sind
Semantische_Erschließung_Tests/data/output/LLM_keywords/output_llama3.3_70b
Semantische_Erschließung_Tests/data/output/LLM_keywords/output_qwen32_10maxKeywords_1
Semantische_Erschließung_Tests/data/output/LLM_keywords/output_qwen32_10maxKeywords_2
Semantische_Erschließung_Tests/data/output/LLM_keywords/output_qwen72_10maxKeywords
Semantische_Erschließung_Tests/data/output/topics


# Webseite
Webseite/briefedition/node_modules
Webseite/breifedition/public

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?